resources/workflows/docling-single-document.json
{
  "name": "Docling: Process Single Document",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "file_path",
              "value": "={{ $json.file_path || '/path/to/your/document.pdf' }}"
            },
            {
              "name": "processing_tier",
              "value": "standard"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Document Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DOCLING_API_URL }}/process",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Trace-Id",
              "value": "={{ $execution.id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_path\": \"{{ $json.file_path }}\",\n  \"options\": {\n    \"processing_tier\": \"{{ $json.processing_tier }}\"\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "submit-job",
      "name": "Submit to Docling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "docling-auth",
          "name": "Docling Auth Token"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            }
          ],
          "number": [
            {
              "name": "poll_count",
              "value": 0
            },
            {
              "name": "max_polls",
              "value": 60
            }
          ]
        },
        "options": {}
      },
      "id": "extract-job-id",
      "name": "Extract Job ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "value": 2
      },
      "id": "wait",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DOCLING_API_URL }}/jobs/{{ $json.job_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 5000
        }
      },
      "id": "check-status",
      "name": "Check Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "docling-auth",
          "name": "Docling Auth Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-completed",
      "name": "If Completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-failed",
      "name": "If Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1560, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "markdown",
              "value": "={{ $json.result.markdown }}"
            },
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            }
          ],
          "number": [
            {
              "name": "page_count",
              "value": "={{ $json.result.metadata.page_count }}"
            },
            {
              "name": "processing_time_ms",
              "value": "={{ $json.result.metadata.processing_time_ms }}"
            }
          ]
        },
        "options": {}
      },
      "id": "success-output",
      "name": "Success Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "={{ $json.error }}"
            },
            {
              "name": "error_type",
              "value": "={{ $json.error_type }}"
            },
            {
              "name": "job_id",
              "value": "={{ $json.job_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-output",
      "name": "Error Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 500]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "poll_count",
              "value": "={{ $json.poll_count + 1 }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "increment-poll",
      "name": "Increment Poll",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "timeout",
              "leftValue": "={{ $json.poll_count }}",
              "rightValue": "={{ $json.max_polls }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-timeout",
      "name": "Check Timeout",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1780, 700]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Processing timeout - exceeded maximum poll attempts"
            },
            {
              "name": "error_type",
              "value": "timeout"
            }
          ]
        },
        "options": {}
      },
      "id": "timeout-output",
      "name": "Timeout Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 800]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set Document Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Document Config": {
      "main": [
        [
          {
            "node": "Submit to Docling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Docling": {
      "main": [
        [
          {
            "node": "Extract Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job ID": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Check Job Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Job Status": {
      "main": [
        [
          {
            "node": "If Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Completed": {
      "main": [
        [
          {
            "node": "Success Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Failed": {
      "main": [
        [
          {
            "node": "Error Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Increment Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Poll": {
      "main": [
        [
          {
            "node": "Check Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Timeout": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "docling"
    },
    {
      "name": "ocr"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-06T00:00:00.000Z",
  "versionId": "1"
}
