templates/ai-chat.json
{
  "id": "ai-chat",
  "name": "AI Chat Assistant",
  "description": "Build a chatbot with OpenAI or Anthropic",
  "icon": "bot",
  "workflow": {
    "name": "AI Chat Assistant",
    "nodes": [
      {
        "parameters": {},
        "name": "When clicking 'Test workflow'",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [240, 304]
      },
      {
        "parameters": {
          "prompt": "<p>Please tell me a joke</p>",
          "options": {
            "stripHtml": true,
            "trimWhitespace": true
          }
        },
        "name": "Prompt Input",
        "type": "CUSTOM.promptInput",
        "typeVersion": 1,
        "position": [460, 304],
        "notesInFlow": true,
        "notes": "Enter your prompt here or use the popup execution dialog"
      },
      {
        "parameters": {
          "options": {}
        },
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [680, 224]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "output-result",
                "name": "response",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "name": "Show Result",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [900, 256]
      }
    ],
    "pinData": {},
    "connections": {
      "When clicking 'Test workflow'": {
        "main": [
          [
            {
              "node": "Prompt Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompt Input": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Show Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }
}
