templates/pdf-processing.json
{
  "id": "pdf-processing",
  "name": "PDF Processing with AI Summary",
  "description": "Extract document text with Docling OCR and generate AI summary using Map-Reduce for large documents",
  "icon": "file",
  "workflow": {
    "name": "PDF Processing with AI Summary",
    "nodes": [
      {
        "parameters": {},
        "name": "When clicking 'Test workflow'",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [240, 300]
      },
      {
        "parameters": {
          "jsCode": "// Configure the PDF file path to process\n// Replace this with your actual file path\nconst filePath = '{{N8N_FILES_FOLDER}}/sample.pdf';\n\n// Options for Docling processing\nconst options = {\n  // Set to true to include page markers like <!-- PAGE: 1 --> in output\n  include_page_markers: false\n};\n\n// Chunk size for Map-Reduce summarization (in characters)\n// Default: 4096 tokens ≈ 16384 characters (4 chars per token average)\nconst chunkSize = 16384;\nconst chunkOverlap = 200;\n\nreturn [{ json: { file_path: filePath, options: options, chunkSize: chunkSize, chunkOverlap: chunkOverlap } }];"
        },
        "name": "Set File Path",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [440, 300],
        "notesInFlow": true,
        "notes": "Configure file path and chunk size. Default 4096 tokens (~16384 chars)."
      },
      {
        "parameters": {
          "method": "POST",
          "url": "{{DOCLING_API_URL}}/process",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{DOCLING_AUTH_TOKEN}}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ file_path: $json.file_path, options: $json.options }) }}",
          "options": {}
        },
        "name": "Submit to Docling",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [640, 300]
      },
      {
        "parameters": {
          "jsCode": "// Extract job_id and pass through chunk settings\nconst response = $input.first().json;\nconst settings = $('Set File Path').first().json;\nif (!response.job_id) {\n  throw new Error('No job_id returned from Docling');\n}\nreturn [{ json: { \n  job_id: response.job_id, \n  status: response.status,\n  chunkSize: settings.chunkSize,\n  chunkOverlap: settings.chunkOverlap\n} }];"
        },
        "name": "Extract Job ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [840, 300]
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{\"{{DOCLING_API_URL}}/jobs/\" + $json.job_id}}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{DOCLING_AUTH_TOKEN}}"
              }
            ]
          },
          "options": {}
        },
        "name": "Poll Job Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1040, 300]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-completed",
                "leftValue": "={{ $json.status }}",
                "rightValue": "completed",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "name": "Is Completed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [1240, 300]
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "seconds"
        },
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [1440, 400],
        "webhookId": "docling-wait"
      },
      {
        "parameters": {
          "jsCode": "// Extract the markdown result from completed job\nconst job = $input.first().json;\nconst settings = $('Extract Job ID').first().json;\n\nif (job.status === 'failed') {\n  return [{\n    json: {\n      error: 'Processing failed',\n      message: job.error || 'Unknown error',\n      error_type: job.error_type\n    }\n  }];\n}\n\nconst result = job.result || {};\nreturn [{\n  json: {\n    markdown: result.markdown || '',\n    metadata: result.metadata || {},\n    status: result.status,\n    job_id: job.job_id,\n    file_path: job.file_path,\n    chunkSize: settings.chunkSize,\n    chunkOverlap: settings.chunkOverlap\n  }\n}];"
        },
        "name": "Process Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [1440, 200]
      },
      {
        "parameters": {
          "chunkingMode": "simple",
          "chunkSize": "={{ $json.chunkSize }}",
          "chunkOverlap": "={{ $json.chunkOverlap }}",
          "options": {
            "summarizationMethodAndPrompts": {
              "values": {
                "summarizationMethod": "map_reduce",
                "prompt": "Write a concise summary of the following text:\n\n{text}\n\nCONCISE SUMMARY:",
                "combineMapPrompt": "You are given a set of summaries from a document. Combine them into a final, coherent summary that includes:\n\n1. A brief overview (2-3 sentences)\n2. Key points (bullet list)\n3. Main topics covered\n\nSummaries:\n{text}\n\nFINAL SUMMARY:"
              }
            }
          }
        },
        "name": "Summarization Chain",
        "type": "@n8n/n8n-nodes-langchain.chainSummarization",
        "typeVersion": 2,
        "position": [1640, 200]
      },
      {
        "parameters": {
          "model": "gpt-4o-mini",
          "options": {}
        },
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [1640, 400]
      },
      {
        "parameters": {
          "mode": "markdownToHtml",
          "markdown": "={{ $json.response.text }}",
          "options": {}
        },
        "name": "Markdown to HTML",
        "type": "n8n-nodes-base.markdown",
        "typeVersion": 1,
        "position": [1840, 200]
      },
      {
        "parameters": {
          "jsCode": "// Format the final output with both HTML and original markdown\nconst html = $input.first().json.data;\nconst summaryResponse = $('Summarization Chain').first().json.response;\nconst processResult = $('Process Result').first().json;\n\nreturn [{\n  json: {\n    summary_html: html,\n    summary_markdown: summaryResponse.text,\n    original_document: processResult.markdown,\n    metadata: processResult.metadata,\n    chunk_settings: {\n      chunk_size: processResult.chunkSize,\n      chunk_overlap: processResult.chunkOverlap\n    }\n  }\n}];"
        },
        "name": "Format Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [2040, 200]
      }
    ],
    "connections": {
      "When clicking 'Test workflow'": {
        "main": [
          [
            {
              "node": "Set File Path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set File Path": {
        "main": [
          [
            {
              "node": "Submit to Docling",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Submit to Docling": {
        "main": [
          [
            {
              "node": "Extract Job ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Job ID": {
        "main": [
          [
            {
              "node": "Poll Job Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poll Job Status": {
        "main": [
          [
            {
              "node": "Is Completed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Completed?": {
        "main": [
          [
            {
              "node": "Process Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Poll Job Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Result": {
        "main": [
          [
            {
              "node": "Summarization Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Summarization Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Summarization Chain": {
        "main": [
          [
            {
              "node": "Markdown to HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Markdown to HTML": {
        "main": [
          [
            {
              "node": "Format Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    }
  }
}
